In [5]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [6]:
clp = pd.read_csv("CustomerLoyaltyProgram.csv")
df = clp.copy()
df.head()

,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,Order Year,Quarter,MonthsAsMember,LoyaltyStatus,Product Line,Coupon Response,Count,Quantity Sold,Unit Sale Price,Unit Cost,Revenue,Customer Lifetime Value,Loyalty Count
0,837810.0,Abigail,Goris,Abigail Goris,Canada,British Columbia,Dawson Creek,55.759627,-120.237662,U5I 4F1,male,Bachelor,Rural,42142.0,Single,2016.0,Q3,33.0,Bronze,Computers and Home Office,Coupon 6,1.0,3.0,"$1,182.00","$1,004.70","$3,546.00",8842.65,1.0
1,707928.0,Ada,Glaude,Ada Glaude,Germany,Bremen,Bremen,53.079296,8.801694,28759,male,High School or Below,Rural,20978.0,Married,2016.0,Q3,52.0,Bronze,Computers and Home Office,Coupon 1,1.0,1.0,$434.00,$368.90,$434.00,3508.57,1.0
2,901442.0,Ada,Staback,Ada Staback,Canada,Manitoba,Winnipeg,49.895136,-97.138374,R2C 0M5,female,Bachelor,Rural,71391.0,Married,2016.0,Q3,47.0,Bronze,Computers and Home Office,Coupon 1,1.0,2.0,$201.00,$170.85,$402.00,8044.87,1.0
3,237303.0,Adam,Boner,Adam Boner,Canada,Ontario,Sudbury,46.522099,-80.953035,M5V 1G5,female,Bachelor,Urban,79674.0,Married,2016.0,Q3,55.0,Bronze,Computers and Home Office,Coupon 4,1.0,3.0,$757.00,$643.45,"$2,271.00",8660.84,1.0
4,348835.0,Adam,Dunnegan,Adam Dunnegan,Canada,Manitoba,Winnipeg,49.895136,-97.138374,R2C 0M5,male,Master,Urban,13663.0,Single,2016.0,Q3,58.0,Bronze,Computers and Home Office,Coupon 1,1.0,2.0,$161.00,$136.85,$322.00,25464.82,1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89950 entries, 0 to 89949
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Loyalty#                 84445 non-null  float64
 1   First Name               84445 non-null  object
 2   Last Name                84445 non-null  object
 3   Customer Name            84445 non-null  object
 4   Country                  84445 non-null  object
 5   Province or State        84445 non-null  object
 6   City                     84445 non-null  object
 7   Latitude                 84436 non-null  float64
 8   Longitude                84436 non-null  float64
 9   Postal code              84445 non-null  object
 10  Gender                   84445 non-null  object
 11  Education                84445 non-null  object
 12  Location Code            84445 non-null  object
 13  Income                   84445 non-null  float64
 14  Marital Status           84445 non-null  object
 15  Order Year               84445 non-null  float64
 16  Quarter                  84445 non-null  object
 17  MonthsAsMember           84445 non-null  float64
 18  LoyaltyStatus            84445 non-null  object
 19  Product Line             84445 non-null  object
 20  Coupon Response          84445 non-null  object
 21  Count                    84445 non-null  float64
 22  Quantity Sold            84445 non-null  float64
 23  Unit Sale Price          84445 non-null  object
 24  Unit Cost                84445 non-null  object
 25  Revenue                  84445 non-null  object
 26  Customer Lifetime Value  84445 non-null  float64
 27  Loyalty Count            84445 non-null  float64
dtypes: float64(10), object(18)
memory usage: 19.2+ MB

In [9]:
df.columns

Index(['Loyalty#', 'First Name', 'Last Name', 'Customer Name', 'Country',
       'Province or State', 'City', 'Latitude', 'Longitude', 'Postal code',
       'Gender', 'Education', 'Location Code', 'Income', 'Marital Status',
       'Order Year', 'Quarter', 'MonthsAsMember', 'LoyaltyStatus',
       'Product Line', 'Coupon Response', 'Count', 'Quantity Sold',
       'Unit Sale Price', 'Unit Cost', 'Revenue', 'Customer Lifetime Value',
       'Loyalty Count'],
      dtype='object')

In [10]:
df[['Unit Sale Price', 'Unit Cost', 'Revenue']] = df[['Unit Sale Price', 'Unit Cost', 'Revenue']].apply(lambda x : x.str.replace('$','').str.replace(',','')).astype(float)
df.info()

/var/folders/ht/tcz99qld7qz6stv5g043rfyc0000gn/T/ipykernel_53742/1137212892.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[['Unit Sale Price', 'Unit Cost', 'Revenue']] = df[['Unit Sale Price', 'Unit Cost', 'Revenue']].apply(lambda x : x.str.replace('$','').str.replace(',','')).astype(float)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89950 entries, 0 to 89949
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Loyalty#                 84445 non-null  float64
 1   First Name               84445 non-null  object
 2   Last Name                84445 non-null  object
 3   Customer Name            84445 non-null  object
 4   Country                  84445 non-null  object
 5   Province or State        84445 non-null  object
 6   City                     84445 non-null  object
 7   Latitude                 84436 non-null  float64
 8   Longitude                84436 non-null  float64
 9   Postal code              84445 non-null  object
 10  Gender                   84445 non-null  object
 11  Education                84445 non-null  object
 12  Location Code            84445 non-null  object
 13  Income                   84445 non-null  float64
 14  Marital Status           84445 non-null  object
 15  Order Year               84445 non-null  float64
 16  Quarter                  84445 non-null  object
 17  MonthsAsMember           84445 non-null  float64
 18  LoyaltyStatus            84445 non-null  object
 19  Product Line             84445 non-null  object
 20  Coupon Response          84445 non-null  object
 21  Count                    84445 non-null  float64
 22  Quantity Sold            84445 non-null  float64
 23  Unit Sale Price          84445 non-null  float64
 24  Unit Cost                84445 non-null  float64
 25  Revenue                  84445 non-null  float64
 26  Customer Lifetime Value  84445 non-null  float64
 27  Loyalty Count            84445 non-null  float64
dtypes: float64(13), object(15)
memory usage: 19.2+ MB

In [11]:
df.head()

,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,Order Year,Quarter,MonthsAsMember,LoyaltyStatus,Product Line,Coupon Response,Count,Quantity Sold,Unit Sale Price,Unit Cost,Revenue,Customer Lifetime Value,Loyalty Count
0,837810.0,Abigail,Goris,Abigail Goris,Canada,British Columbia,Dawson Creek,55.759627,-120.237662,U5I 4F1,male,Bachelor,Rural,42142.0,Single,2016.0,Q3,33.0,Bronze,Computers and Home Office,Coupon 6,1.0,3.0,1182.0,1004.70,3546.0,8842.65,1.0
1,707928.0,Ada,Glaude,Ada Glaude,Germany,Bremen,Bremen,53.079296,8.801694,28759,male,High School or Below,Rural,20978.0,Married,2016.0,Q3,52.0,Bronze,Computers and Home Office,Coupon 1,1.0,1.0,434.0,368.90,434.0,3508.57,1.0
2,901442.0,Ada,Staback,Ada Staback,Canada,Manitoba,Winnipeg,49.895136,-97.138374,R2C 0M5,female,Bachelor,Rural,71391.0,Married,2016.0,Q3,47.0,Bronze,Computers and Home Office,Coupon 1,1.0,2.0,201.0,170.85,402.0,8044.87,1.0
3,237303.0,Adam,Boner,Adam Boner,Canada,Ontario,Sudbury,46.522099,-80.953035,M5V 1G5,female,Bachelor,Urban,79674.0,Married,2016.0,Q3,55.0,Bronze,Computers and Home Office,Coupon 4,1.0,3.0,757.0,643.45,2271.0,8660.84,1.0
4,348835.0,Adam,Dunnegan,Adam Dunnegan,Canada,Manitoba,Winnipeg,49.895136,-97.138374,R2C 0M5,male,Master,Urban,13663.0,Single,2016.0,Q3,58.0,Bronze,Computers and Home Office,Coupon 1,1.0,2.0,161.0,136.85,322.0,25464.82,1.0

In [13]:
df.to_csv("clp.csv")

In [14]:
df = pd.read_csv("clp.csv")
df.head()

,Unnamed: 0,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,Order Year,Quarter,MonthsAsMember,LoyaltyStatus,Product Line,Coupon Response,Count,Quantity Sold,Unit Sale Price,Unit Cost,Revenue,Customer Lifetime Value,Loyalty Count
0,0,837810.0,Abigail,Goris,Abigail Goris,Canada,British Columbia,Dawson Creek,55.759627,-120.237662,U5I 4F1,male,Bachelor,Rural,42142.0,Single,2016.0,Q3,33.0,Bronze,Computers and Home Office,Coupon 6,1.0,3.0,1182.0,1004.70,3546.0,8842.65,1.0
1,1,707928.0,Ada,Glaude,Ada Glaude,Germany,Bremen,Bremen,53.079296,8.801694,28759,male,High School or Below,Rural,20978.0,Married,2016.0,Q3,52.0,Bronze,Computers and Home Office,Coupon 1,1.0,1.0,434.0,368.90,434.0,3508.57,1.0
2,2,901442.0,Ada,Staback,Ada Staback,Canada,Manitoba,Winnipeg,49.895136,-97.138374,R2C 0M5,female,Bachelor,Rural,71391.0,Married,2016.0,Q3,47.0,Bronze,Computers and Home Office,Coupon 1,1.0,2.0,201.0,170.85,402.0,8044.87,1.0
3,3,237303.0,Adam,Boner,Adam Boner,Canada,Ontario,Sudbury,46.522099,-80.953035,M5V 1G5,female,Bachelor,Urban,79674.0,Married,2016.0,Q3,55.0,Bronze,Computers and Home Office,Coupon 4,1.0,3.0,757.0,643.45,2271.0,8660.84,1.0
4,4,348835.0,Adam,Dunnegan,Adam Dunnegan,Canada,Manitoba,Winnipeg,49.895136,-97.138374,R2C 0M5,male,Master,Urban,13663.0,Single,2016.0,Q3,58.0,Bronze,Computers and Home Office,Coupon 1,1.0,2.0,161.0,136.85,322.0,25464.82,1.0